textarea {
    min-height: 400px;
}
.mailbox-email {
    font-size: .9rem;
    padding: 10px 10px;
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
    font-weight: bold;
    margin-top:7px;
}
.mailbox-email:hover {
    cursor: pointer;
    box-shadow: inset 1px 0 0 #dadce0, inset 0 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 0 0 0 rgba(60,64,67,.15);
}
.subject_title{
    font-size: 23px;
    margin-bottom: 18px;
    color: #202124;
}
.details{
    font-size:14px;
    margin-Bottom:10px;
}
.text-muted {
    color: #5f6368!important;
}
.btn btn-outline-warning :hover{
    background-color: lightyellow;
}
#archive_button{
    margin-left:20px;
}
#reply_button{
    height:40px;
    width:100px;
}
.compose-btn {
box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    font-size: .875rem;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    color: #3c4043;
    display: inline-flex;
    font-weight: 500;
    height: 40px;
    min-width: 56px;
    overflow: hidden;
    padding: 0 24px 0 0;
    text-transform: none;
    border: none;
}
.plus-sign {
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    content: '';
    display: block;
    height: 28px;
    min-width: 56px;
}
.card-body {
    padding: 35px;
}
.nav-btn {
    padding: 10px 10px;
    width: 200px;
    border: none;
    background-color: white;
    color: #5f6368;
    font-size: .9rem;
    outline: 0;
}

.nav-btn:focus {
    outline: none;
}

.nav-btn:hover {
    background-color: rgba(32,33,36,0.059);
    color: black;
}
.login-bottom {
    color: #5f6368;
    font-size: 14px;
    margin-top: 80px;
}
.card-body {
    padding: 35px;
}
input.form-control.login-input {
    padding: 13px 15px;
    border-radius: 4px;
    border: 2px solid lightgrey;
    height: auto;
    line-height: 24px;
}

